.box_flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: fixed;
  top: 124px;
  left: 150px;
  gap: 16px;
}

.boxsize {
  width: 90%;
  position: relative;
}

.textflex {
  display: flex;
}

.text_space {
  margin-left: 30px;
}

.box_content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  top: -8px;
  align-items: flex-end;
}

.third_box_content {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 6px;
  align-items: center;
  gap: 10px;
}

.start_flex {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 530px;
}

.num_box {
  color: white;
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 4px;
}

.container {
  position: relative;
  display: inline-block;
}
